.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.active-link {
  color: red;
  font-weight: bold;
}

.app-container {
  padding: 20px;
  margin: 20px;
}
